.article_item {
    height: 200px;
}
.article_img {
    width: 200px;
    height: 100px;
}
.article_view_footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.article_list_item {
  cursor: pointer;
  transition: padding 0.3s ease;
}

.article_list_item:hover {
  border: 2px solid #74759b;
  padding-top: 50px;
  padding-bottom: 50px;
}