@import '~@douyinfe/semi-ui/dist/css/semi.min.css';
@import '~antd/dist/antd.css';
@import '~katex/dist/katex.min.css';
@import '~markdown-navbar/dist/navbar.css';

html {
  font-size: 12px;
  word-break: break-word;
  font-family: SimSun;
  text-rendering: optimizeLegibility;
  color: #333;
  background-color: #f4f5f5;
}

body {
    box-sizing: border-box;
    background-color: rgb(244, 245, 245);
    margin: 0 !important;
}

.back_img_style {
  /* background-image: url("/images/backgroud/src=http___i0.hdslb.com_bfs_article_010bec8e211f1c244f774fac7d5222eb20b7ddb8.jpg&refer=http___i0.hdslb.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
}

.box_info{
  font-size: 14px;
  width: 300px;
}
.login_page_input_style {
  margin-top: 10px;
}
.white-back-box {
  width: 100%;
  border-radius: 5px;
  margin: 8px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  border: 2px solid #fff;
}

.circular-green {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #00a854;
  color: #fff;
}

.can-click {
    cursor: pointer;
}

.can-click:hover {
    background-color: #999999;
}

.action_btn {
  cursor: pointer;
}

.action_btn:hover {
  color: #2b73af;
}

.ip_style{
  font-size:12px;
  font-weight: 300;
  background-color: #ccc;
  padding:2px 8px;
  margin: 0 10px;
}