@import '~@douyinfe/semi-ui/dist/css/semi.min.css';
@import '~antd/dist/antd.css';
body {
    box-sizing: border-box;
    background-color: rgb(244, 245, 245);
    margin: 0 !important;
}

.box_info{
  font-size: 14px;
  width: 300px;
}

.white-back-box {
    border-radius: 5px;
    margin: 8px;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #fff;
}

.circular-green {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #00a854;
  color: #fff;
}

.can-click {
    cursor: pointer;
}

.can-click:hover {
    background-color: #999999;
}