@import '~@douyinfe/semi-ui/dist/css/semi.min.css';

body {
    box-sizing: border-box;
    background-color: rgb(244, 245, 245);
    margin: 0 !important;
}

.white-back-box {
    border-radius: 5px;
    margin: 8px;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #fff;
}

.can-click {
    cursor: pointer;
}

.can-click:hover {
    background-color: #999999;
}